@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");

body {
  background-color: #283149;
  text-align: center;
}

h1 {
  font-family: "Arvo", serif;
  color: #dbedf3;
  font-size: 5rem;
  text-shadow: 2px 0 #da0463;
}

.drum-set {
  margin: 10% auto;
}

.drum {
  outline: none;
  border: 10px solid #404b69;
  font-size: 5rem;
  font-family: "Arvo", serif;
  line-height: 2;
  font-weight: 900;
  color: #da0463;
  text-shadow: 3px 0 #dbedf3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}

footer {
  color: #dbedf3;
  font-family: sans-serif;
}

.w {
  background-image: url("images/tom1.png");
}

.a {
  background-image: url("images/tom2.png");
}

.s {
  background-image: url("images/tom3.png");
}

.d {
  background-image: url("images/tom4.png");
}

.j {
  background-image: url("images/crash.png");
}

.k {
  background-image: url("images/kick.png");
}

.l {
  background-image: url("images/snare.png");
}

.pressed {
  box-shadow: 0px 3px 4px 0px #DBEDF3;
  opacity: 0.5;
}